body {
    background-image: url("https://images.unsplash.com/photo-1581090464777-f3220bbe1b8b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80");
    background-color: #cccccc;
    font-family:unset;
    font-size: x-large;
   }

head {
    color: white;
    font-size: x-large;
  }

p {
    color: white;
    font-size: xx-large;
  }

.banner {
    color:white !important;
    font-size:xx-large !important;
  }

nav {
    background-color:#008c9e !important;
}

.nav-item {
  font-size: xx-large;
}

footer {
    position: absolute;
    bottom: 0;
    background-color:#008c9e !important;
    color:white !important;
}

.navbar {
font-size: 20px;

}

.navbar-brand {
  font-size: x-large;
}

.navbar-nav {
  text-align:right !important;
}

.personal-info p {
  margin: 10px;
}

.profile-link a {
  color: white;
  font-size: x-large;
  margin:10px;

}

.resume a {
  color:white;
  font-size: x-large;

}

.project-title {
  color: white;
  font-size: x-large;
}

.project-link {
  color: white;
  font-size: x-large;
  margin: 10px;
  background-color: #008c9e !important;
  justify-content: center;
}

.project-card {
  height: 80%;
  width: 50%;
}

.fa {
  padding: 20px;
  font-size: 80px;
  width: 80px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background:black;
  color:white;
}